* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar { 
    background: rgba(21, 18, 27, 0);
    color: @theme_text_color;
}

window .modules-left, window .modules-center, window .modules-right {
    padding: 10px 10px 0 10px;
}

button {
    border: none;
    border-radius: 0;
}

tooltip {
    background: @theme_bg_color;
    border-radius: 10px;
    padding: 10px;
}

tooltip label{
    color: #cdd6f4;
}


#custom-launch_wofi,
#custom-lock_screen,
#custom-change_wallpaper,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    background: @theme_bg_color;
    color: @theme_text_color;
    opacity: 0.8;
    border: 0px;
}

#custom-launch_wofi {
    color: #0070E6;
    font-size: 24px;
    padding: 0 10px;
    margin: 0 10px 0 0;
    border-radius: 10px;
}

#workspaces {
    padding: 0 5px;
    margin: 0 10px 0 0;
    border-radius: 10px;
}

#workspaces button {
    padding: 5px;
    color: @theme_text_color;
}

#workspaces button.active {
    color: @theme_text_color;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#window {
    padding: 0 15px;
    border-radius: 10px;
}

#clock {
    padding: 0 15px;
    border-radius: 10px;
}
#custom-change_wallpaper {
    padding: 0 15px;
    border-radius: 10px;
    margin: 0 10px 0 0;
}
#network {
    padding: 0 15px;
    border-radius: 10px;
    margin: 0 10px 0 0;
}

#custom-power_btn {
    border-radius: 10px 0 0 10px;
    padding: 0 10px 0 15px;
    margin: 0;
    font-size: 18px;
}

#custom-lock_screen {
   margin: 0 10px 0 0;
     border-radius: 0 10px 10px 0;
    padding: 0 15px 0 10px;
    font-size: 15px;
}

#custom-updates {
    margin: 0;
    padding: 0 15px;
     font-size: 18px;
     border-radius: 10px;
}


#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    border-radius: 10px 0 0 10px; 
    padding: 0 10px 0 15px;
}

#backlight {
    padding: 0 10px 0 0;
}

#pulseaudio {
    padding: 0 10px 0 0;
}

#pulseaudio.microphone {
    padding: 0 15px 0 0;
    border-radius: 0 10px 10px 0;
    margin: 0 10px 0 0;
}


